* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    color: #9d9d9d;
    font-family: "Proxima Nova";
}

h3 {
    color: #000;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
.header {
    width: auto;
    padding-top: 56px;
}
.conteiner {
    width: 1100px;
    height: auto;
    margin: 0 225px;
}

.services {
    display: flex;
    justify-content: space-evenly;
}
.bg {
    width: 65px;
    height: 63px;
    border-radius: 50%;
    padding: 68px;
    background-color: #1275b9;
    text-align: center;
    margin-bottom: 20px;
}
.block {
    height: 344px;
}
.image-block {
    width: 22px;
    height: 30px;
}

.text {
    width: 220px;
    font-weight: 400;
    font-weight: 400;
    text-align: center;
    display: block;
    height: 22px;
    margin-top: 22px;
}
.title a:hover {
    color: #1275b9;
} 